@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .text-shadow-lg {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-instrument);
  /* letter-spacing: 0.02em; */
}

body {
  color: var(--foreground);
  background: var(--background);
  letter-spacing: 0.05em;
}

.font-inter {
  font-family: var(--font-inter);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
@keyframes gradient {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-gradient {
  animation: gradient 3s linear infinite alternate;
}

.bg-300\% {
  background-size: 300% 300%;
}